{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>prensa  francesa</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Aut impedit expedita non accusamus rem sequi nam dicta hic obcaecati doloremque a tempora cupiditate, neque perferendis. Inventore, totam illo. Tempora, ut!</p>
    </div>
        <div class="col-4">
        <img src="assets/img/prensa.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}

